.SideBar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width-max);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width .3s ease-in-out;
}

.switchers {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  bottom: 20px;
}

.LangSwitcher {
  margin-left: 10px;
}

.toggleBtn {
  position: absolute;
  right: -32px;
  bottom: 40px;
  z-index: 10;
}


.sideBarItems {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  flex-flow: column nowrap;

  .sideBarItem {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;

    .icon {
      fill: var(--primary-color);
      margin-right: 10px;
    }

    .link {
      white-space: nowrap;
    }
  }
}

.collapsed {
  width: var(--sidebar-width-min);
  transition: width .3s ease-in-out;

  .switchers {
    flex-direction: column;
  }

  .LangSwitcher {
    margin-left: 0;
  }

  .sideBarItem {
    .link {
      display: none;
    }
  }

}



