.SideBar {

  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width-max);

  background: var(--inverted-bg-color);

  position: relative;

  transition: width .3s ease-in-out;
  overflow: hidden;
}

.collapsed {
  width: var(--sidebar-width-min);
  transition: width .3s ease-in-out;
}

.switchers {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
  position: absolute;
  bottom: 20px;
}
