.PageError {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font: var(--font-l);
}

.reloadButton {
  margin-top: 15px;
}
