.app.light {
  --bg-color: #F4F4F4;
  --inverted-bg-color: #1E1E1E;

  --primary-color: #2b93da;
  --secondary-color: #E74C3C;
  --inverted-primary-color: #b49000;
  --inverted-secondary-color: #229a55;
}
