.NavBarContainer {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.NavBarItems {
  display: flex;
}

.NavBarItem {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
